<!DOCTYPE html>
<html>

<head>
    <title>Архив статей</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}/static/css/styles.css">
</head>

<body>
    <div class="header">
        <img src="{{ STATIC_URL }}/static/img/Kiany.jpg" alt="Kiany" id="Kiany">
    </div>
    <div class="archive">
        {% for post in posts %}
        <div class="one-post">
            <a href="/articles/{{post.id}}/">
                <h2 class="post-title">{{ post.title }}</h2>
            </a>
            <div class="article-info">
                <div class="article-author">{{ post.author.username }}</div>
                <div class="article-created-date">{{ post.created_date }}</div>
            </div>
            <p class="article-text">{{ post.get_excerpt }}</p>
        </div>
        {% endfor %}
        <p>
        <div class="article-author"><a href="/articles/new/">Написать новую статью</a></div>
        </p>
    </div>


</body>

</html>